<section class="tf-section flat-blog">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="heading-section center">
					<h5>Nos posts</h5>
					<h2>Les articles sur le sujet</h2>
				</div>
			</div>

			<!-- Display each post -->
			{% include 'posts/post-teaser.twig' with { post_data: related_posts } %}
			<!-- //Display each post -->

		</div>
	</div>
</section>
