<section class="tf-section2 flat-blog home">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="heading-section center">
					<h5 class="">Idées - Tendances</h5>
					<h2 class="">Nos derniers événements</h2>
				</div>
			</div>
			<div class="col-lg-12 col-md-12">
				<div class="swiper-container carousel-4 swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
					<div class="swiper-wrapper" id="swiper-wrapper-722c7648a14e2dc2" aria-live="off" style="transform: translate3d(0px, 0px, 0px);">
						<div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 3" style="width: 360px; margin-right: 30px;">
							<div class="blog-box tf-img hover-img hv-one">
								<a class="media img-style" href="blog-details.html">
									<img class="img-item" src="{{ site.theme.link }}/assets/images/blog/blog-2.jpg" alt="">
									<span class="hover-one"></span>
								</a>
								<div class="content">
									<div class="days absolute">
										<div class="number">10</div>
										<div class="titles">June</div>
									</div>
									<h4>
										<a href="blog-details.html">Vegetable</a>
									</h4>
									<h3>
										<a href="blog-details.html">Unicode UTF8 Character Sets 
																																																																																																																																																										                                                    They Sltimate Guide Systems</a>
									</h3>
									<p>Nemo enim ipsam voluptatem luptas sit aspernatur aut odit aut fugit,</p>
									<div class="meta flex-one">
										<a href="blog-details.html" class="btn-button flex fw-5">En savoir plus</a>
										<a href="blog-details.html" class="comment flex">0 Vues</a>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 3" style="width: 360px; margin-right: 30px;">
							<div class="blog-box tf-img hover-img hv-one">
								<a class="media img-style" href="blog-details.html">
									<img class="img-item" src="{{ site.theme.link }}/assets/images/blog/blog-2.jpg" alt="">
									<span class="hover-one"></span>
								</a>
								<div class="content">
									<div class="days absolute">
										<div class="number">10</div>
										<div class="titles">June</div>
									</div>
									<h4>
										<a href="blog-details.html">Farming</a>
									</h4>
									<h3>
										<a href="blog-details.html">Quality Foods Requirments 
																																																																																																																																																										                                                    For Every Human Body’s</a>
									</h3>
									<p>Nemo enim ipsam voluptatem luptas sit aspernatur aut odit aut fugit,</p>
									<div class="meta flex-one">
										<a href="blog-details.html" class="btn-button flex fw-5">En savoir plus</a>
										<a href="blog-details.html" class="comment flex">0 Vues</a>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide" role="group" aria-label="3 / 3" style="width: 360px; margin-right: 30px;">
							<div class="blog-box tf-img hover-img hv-one">
								<a class="media img-style" href="blog-details.html">
									<img class="img-item" src="{{ site.theme.link }}/assets/images/blog/blog-3.jpg" alt="">
									<span class="hover-one"></span>
								</a>
								<div class="content">
									<div class="days absolute">
										<div class="number">10</div>
										<div class="titles">June</div>
									</div>
									<h4>
										<a href="blog-details.html">Organic Fruits</a>
									</h4>
									<h3>
										<a href="blog-details.html">Unicode UTF8 Character Sets 
																																																																																																																																																										                                                    They Sltimate Guide Systems</a>
									</h3>
									<p>Nemo enim ipsam voluptatem luptas sit aspernatur aut odit aut fugit,</p>
									<div class="meta flex-one">
										<a href="blog-details.html" class="btn-button flex fw-5">En savoir plus</a>
										<a href="blog-details.html" class="comment flex">0 Vues</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
				</div>
			</div>
		</div>
		<div class="buttons mt-lg-5 mt-4 text-center">
			<a class="blob-btn btn-style" href="about.html">
				Tous les événements
				<span class="blob-btn__inner">
					<span class="blob-btn__blobs">
						<span class="blob-btn__blob"></span>
						<span class="blob-btn__blob"></span>
						<span class="blob-btn__blob"></span>
						<span class="blob-btn__blob"></span>
					</span>
				</span>
			</a>
		</div>
	</div>
</section>
