{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}} header-fixed" data-template="base.twig">
{{ function('wp_body_open') }}

<!-- preloade -->
{% include 'partials/preload.twig' %}
<!-- /preload -->


<div id="wrapper">
	<div
		id="page" class="clearfix">
		<!-- top-bar -->
		{% include "partials/top-bar.twig" %}
		<!-- end top-bar -->

		<!-- header -->
		<!-- This will fetch and render the 'main-menu' registered in functions.php -->
		{% include "partials/header.twig" with {'items': menu.get_items} %}
		<!-- end header -->
			{% if not fn('is_front_page') %}

			<!--=============== PAGE TITLE (Breadcrumb) ===============-->
		{% include "partials/breadcrumbs.twig" %}
			<!--=============== END PAGE TITLE (Breadcrumb) ===============-->
		{% endif %}
		{% block content %}{% endblock %}


		{% block footer %}
			<!-- Footer -->
			<footer id="footer" class="clearfix page">
				{% include 'footer.twig' %}
			</footer>
			<!-- /#footer -->
			{% include 'partials/social-footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html></body>
