<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-12 col-12">
			<div class="widget widget-logo">
				<div class="flat-box">
					<div class="logo-footer style" id="logo-footer">
						<a href="{{ site.url }}">
							{% if logo %}
								<img id="logo_footer" src="{{ logo[0] }}" alt="Logo-Vegnature" class="footer__logo" width="" height="">
							{% endif %}
						</a>
					</div>

					{% if tagline %}
						<p class="sub-widget-logo lh-28">{{ tagline }}</p>
					{% endif %}
					<h6 class="">
						Address:
						<span class="fw-4">4710-4890 Breckinridge USA
						</span>
					</h6>
					<h6 class="link-style-4">
						Email:
						<a href="info:comapny@hasthemes.com " class="fw-4">comapny@hasthemes.com
						</a>
					</h6>
					<h6 class="link-style-4">
						Call us:
						<a href="tel:012345678" class="fw-4">(08) 22 455 789</a>
					</h6>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-6">
			<div class="widget widget-menu style-2 ">
				<div class="title-widget fw-6">Quick Links</div>
				<ul class="box-menu link-style-4">
					<li>
						<a href="about.html">About Us</a>
					</li>
					<li>
						<a href="project-details.html">Project Details</a>
					</li>
					<li>
						<a href="services.html">Services</a>
					</li>
					<li>
						<a href="blog.html">Our Blog</a>
					</li>
					<li>
						<a href="projects.html">Our Project</a>
					</li>
					<li>
						<a href="product-details.html">Best Products</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-2 col-md-3 col-6">
			<div class="widget widget-menu style-3 ">
				<ul class="box-menu link-style-4">
					<li>
						<a href="shop-grid.html">Shop Grid</a>
					</li>
					<li>
						<a href="team.html">Our Team</a>
					</li>
					<li>
						<a href="blog-category.html">Latest News</a>
					</li>
					<li>
						<a href="contact.html">Contact Us</a>
					</li>
					<li>
						<a href="faq.html">Our FAQ</a>
					</li>
					<li>
						<a href="contact.html">Blog Details</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-12">
			<div class="widget widget-menu style-4">
				<div class="title-widget fw-6">Recent Post</div>
				<ul class="recent-news ">
					<li class="hover-img flex">
						<div class="thumb img-style ">
							<a href="blog-details.html">
								<img class="img" src="assets/images/blog/pots-1.jpg" alt="images">
							</a>
						</div>
						<div class="content link-style-3">
							<h5 class="fw-6">
								<a href="blog-details.html">Unicode UTF8 Character Sets  They Sltimate Guide Systems</a>
							</h5>
							<h6 class="days fw-4">10 June, 2022</h6>
						</div>
					</li>
					<li class="hover-img flex">
						<div class="thumb img-style ">
							<a href="blog-details.html">
								<img class="img" src="assets/images/blog/pots-2.jpg" alt="images">
							</a>
						</div>
						<div class="content link-style-3">
							<h5 class="fw-6">
								<a href="blog-details.html">Unicode UTF8 Character Sets  They Sltimate Guide Systems</a>
							</h5>
							<h6 class="days fw-4">10 June, 2022</h6>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="scroll-top" class="go-top">
	<h5 class="text-color-3">
		<a class=""></a>
		Haut de page
	</h5>
</div>
