{% extends "base.twig" %}

{% block content %}
	<section class="tf-section flat-about page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="text-justify article-body post-type-{{post.post_type}}" id="post-{{post.ID}}">
						{{post.content}}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /content-wrapper -->
	{# Include related posts section if related posts exist #}
	{% if related_posts is defined and related_posts | length > 0 %}
		{% include 'partials/related-posts.twig' with {'related_posts': related_posts} %}
	{% endif %}
{% endblock %}
