{% extends "base.twig" %}

{% block content %}

	<!-- Our event page content here -->
	<section class="tf-section flat-blog">
		<div class="container">
			<div
				class="row">

				<!-- Display each event post -->
				{% include 'posts/event-teaser.twig' with { post_data: events } %}
				<!-- //Display each event post -->

				<div
					class="col-lg-12">
					{# Display pagination links for events #}
					{% include 'partials/pagination.twig' with { pagination_data: events.pagination } %}
				</div>
			</div>
		</div>
	</section>

{% endblock %}
