{% extends "base.twig" %}

{% block content %}

	<!-- Our category page content here -->
	<section class="tf-section flat-blog">
		<div class="container">
			<div
				class="row">

				<!-- Display each category post -->
				{% include 'posts/post-teaser.twig' with { post_data: category_posts } %}
				<!-- //Display each category post -->

				<div
					class="col-lg-12">
					{# Display pagination links for categories #}
					{% include 'partials/pagination.twig' with { pagination_data: category_posts.pagination } %}
				</div>
			</div>
		</div>
	</section>

{% endblock %}
