$font-1: "League Spartan", sans-serif;
$font-2: "Roboto", sans-serif;

$color-1: #fff;
$color-2: #000;
$color-3: #247f2c;
$color-4: #666666;
$color-5: #dbdbdb;
$color-6: #226faf;
$color-7: #f1f1f1;
$bg-color: #f3f6f0;
$bg-h2: #180d45;
$color-h2: #ff9c00;
